 <div class="search-content">

 <div class="row">

   <div class="col-md-3 col-xs-12">

         <h3> Suggestions </h3>
 
           <div class="suggestion-results">
        
                  <ul style="padding-left:0px">
                     
                     <li ng-repeat="x in res">{{x.suggestion}}</li>

                  </ul> 
          </div>

      </div>



      <div class="col-md-9 col-xs-12">

       <h3> Recommended Products </h3>

      <div class="row">

       <div class="col-md-3 col-xs-6 Rec-item" ng-repeat="x in res1">
             
            
            <div class="item-img">

             <img src="{{x.thumbnail}}" alt="image" style="width:100%"/>
 
             </div>

             <div style="position:absolute;left:50%;top:10%;height:40%;overflow:hidden">
           
               <p style="font-size:10px;"> {{x.name}} </p>

             </div>  

             <div style="position:absolute;left:50%;top:60%;width:34px;height:34px;background:url('https://cdn-skin.fourseven.com/frontend/fourseven/micromage/images/micromage/icons.png') no-repeat -34px 0px;">
             </div>


               <div style="position:absolute;left:70%;top:60%;width:34px;height:34px;background:url('https://cdn-skin.fourseven.com/frontend/fourseven/micromage/images/micromage/icons.png') no-repeat -34px -34px;">
             </div>

   </div>

</div>

</div>
      
</div>

</div>

</div>
