<div class="modal fade">
          <div class="modal-dialog" style="height:100%;width:100%;margin:0;padding-top:10px">
            <div class="modal-content">

        <div class="modal-body">    
   
  <div class="container">

      <div class="search-bar">
        <span id="close" class="glyphicon glyphicon-remove" ng-click="close('Cancel')"></span>
        <div class="form-group">
        <input type="text" placeholder="Search" ng-model="input" ng-keyup="getsearchparameters()"/>  <span class="glyphicon glyphicon-search" ></span>
        </div>
       </div>
       

          <div ng-if="input.length>0">
          <datadisplay ng-show="display" res=items res1=items1></datadisplay>
          </div> 
       

 <!--      

      <div class="row">

      <div class="col-md-3">

         <h3> Suggestions </h3>
 
           <div class="suggestion-results">
        
                  <ul style="padding-left:0px">
                      <li>  <a href="#"> Adithya </a>   </li>
                      <li>  <a href="#"> Anil     </a>   </li>
                       <li>  <a href="#"> Rahuul   </a>  </li>
                       <li> <a href="#"> Narayana </a>  </li>
                        <li>  <a href="#"> Adithya </a>   </li>
                        <li>  <a href="#"> Anil     </a>   </li>
                       <li>  <a href="#"> Rahuul   </a>  </li>
                       <li> <a href="#"> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</a>  </li>

                  </ul> 
          </div>

      </div>



      <div class="col-md-9">

       <h3> Recommended Products </h3>

      <div class="row">

       <div class="col-md-3 Rec-item">
             
            
            <div class="item-img ">

             <img src="https://cdn-media.fourseven.com/catalog/product/cache/1/thumbnail/80x80/9df78eab33525d08d6e5fb8d27136e95/l/e/letter-a-min.jpg" alt="image" style="width:100%"/>
 
             </div>

             <div style="position:absolute;left:115px;top:10px;">
           
               <p style="font-size:10px;"> Letter Charm </p>

             </div>  

             <div style="position:absolute;left:115px;top:50px;width:34px;height:34px;background:url('https://cdn-skin.fourseven.com/frontend/fourseven/micromage/images/micromage/icons.png') no-repeat -34px 0px;">
             </div>


               <div style="position:absolute;left:160px;top:50px;width:34px;height:34px;background:url('https://cdn-skin.fourseven.com/frontend/fourseven/micromage/images/micromage/icons.png') no-repeat -34px -34px;">
             </div>





            


       </div>


       <div class="col-md-3 Rec-item">

             <div class="item-img">

             <img src="https://cdn-media.fourseven.com/catalog/product/cache/1/thumbnail/80x80/9df78eab33525d08d6e5fb8d27136e95/m/a/make_a_wish.jpg" alt="image" style="width:100%"/>

             </div>



       </div>

       <div class="col-md-3 Rec-item">

           <div class="item-img">
                
                <img src="https://cdn-media.fourseven.com/catalog/product/cache/1/thumbnail/80x80/9df78eab33525d08d6e5fb8d27136e95/s/n/snow_flak_stud_bg_white.jpg" alt="image" style="width:100%" />
     
           </div>

       </div>


       <div class="col-md-3 Rec-item">

           <div class="item-img">
                
                <img src="https://cdn-media.fourseven.com/catalog/product/cache/1/thumbnail/80x80/9df78eab33525d08d6e5fb8d27136e95/s/n/snow_flak_stud_bg_white.jpg" alt="image" style="width:100%" />
     
           </div>

       </div>


      </div>


      </div>
      



       </div>



  </div>

  </div>

</div>
</div>
</div> -->